#expression {
  vertical-align: center;
  text-align: right;
  padding: 10px;
  font-size: 15px;
  height: 37.6px;
}
#main-display {
  padding: 10px;
  text-align: right;
  font-size: 25px;
  background: #ffffff;
  border: 1px solid black;
  margin-bottom: 20px;
  height: 51.6px;
}
button {
  background-color: #c9daf8; /* Green */
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:hover {
  background: #95b8f5;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#C {
  grid-column: 3 / span 2;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

#display {
  font-family: monospace;
}

#display h1 {
  text-align: center;
}

#calculator {
  background: #eeeeee;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}
