body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif, serif;
}

.rs-navbar {
  position: relative;
  width: 100%;
  color: white;
  padding: 0px 50px 0px 70px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
.rs-navbar-menu {
  float: right;
  display: flex;
}
.rs-navbar-logo {
  float: left;
}

.rs-navbar-logo-home {
  padding: 20px;
  height: 40px;
}
.rs-navbar-button {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  margin-top: 10px;
  padding: 20px;
  cursor: pointer;
}
.rs-navbar-button:hover {
  background-color: rgba(128, 128, 128, 0.664);
}
.rs-center {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
}
.rs-home-greeting-message {
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  text-align: center;
}
.rs-home-greeting-code {
  font-family: monospace;
  margin: 0px 0px 0px 10px;
}
.rs-home-greeting {
  width: 70%;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rs-hmsg-main {
  font-family: "Times New Roman", Times, serif;
  font-weight: 10;
  font-size: 40px;
}
.rs-hmsg-fine {
  margin-top: 10px;
  font-style: italic;
}

.rs-home-backdrop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.679), rgba(0, 0, 0, 0.679)),
    url(../images/home-backdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.rs-navbar-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.679), rgba(0, 0, 0, 0.679)),
    url(../images/home-backdrop.jpg);
  height: 100vh;
  /* box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75); */
}

.rs-navbar-education {
  background-image: linear-gradient(rgba(0, 0, 0, 0.679), rgba(0, 0, 0, 0.679)),
    url(../images/education-backdrop2.jpg);
  height: 35vh;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.rs-navbar-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.rs-max-height {
  height: 100vh;
}

@media only screen and (max-width: 785px) {
  .rs-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
